body{
	background: snow;
}
*{
	box-sizing: border-box;
}
#container{
	width:400px;
	margin: 80px auto;
	height:auto;
	background:linear-gradient(#e0fbf6,#ffffc6,#ffe8ff,#e2fff4);
	padding:15px;
	box-shadow:5px 5px 10px #6c1d77, -5px -5px 10px #6c1d77;
}
#result{
	width:100%;
	padding:10px;
	font-size:22px;
	font-weight: bold;
	margin-top: 20px;
	border-radius:9px;
}
#button{
	width:89px;
	padding:10px;
	font-size:22px;
	font-weight: bold;
	border-radius:12px;
	display: inline-block;
	background:radial-gradient(#ffffff,#ffe5ff);
	color:dimgray;
}
#button:hover{
	background:radial-gradient(#ffffff,#cdfbd0);
}
#clear{
	width:100%;
	border-radius: 12px;
	background-color:#f44336;
	font-size: 24px;
	color: whitesmoke;
	font-family:monospace;
	border-color:black;
	
}
#clear:hover{
	background-color:#4CAF50;
	color: whitesmoke;
}
